<html>
	<body>
		<div style='border: 1px solid #000; width: 440px; padding: 5px'>
			<h3>{{.Coupon.Name}}: {{.Coupon.Title}} from {{.Coupon.StartDate}} to {{.Coupon.EndDate}}</h3>
			<img src='{{.Coupon.URL}}' alt='coupon image' style='display: inline-block; width: 80px; height: 100px'/>
			<div style='display:inline-block; overflow: auto; width:350px; vertical-align:middle'>
				<p style='color:gray'>{{.Coupon.Description}}</p>
			</div>
			<div style='margin-top: 5px'>
        <a target='_blank' href='https://{{.Config.AppDomain}}/coupons/{{.Coupon.ID}}/clip'>Clip</a>
			</div>
		</div>
	</body>
</html>
