{{define "footer"}}
      <div class="row">
        <div class="col-6">
          <p class="text-muted">
            Questions or Concerns? Check out my <a rel="noopener noreferrer" href="https://github.com/blaskovicz/coupon-clipper-stopandshop" target="_blank">Github <i class="fa fa-github"></i></a> repo.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
