{{define "header"}}
<html>
  <head>
    <title>Coupon Clipper: Stop and Shop</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      label.bold{font-weight:bold}
      .fa.hoverable:hover{
        cursor:pointer;
        opacity:.5;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1><a href="/" style="color:inherit">Coupon Clipper: Stop and Shop</a></h1>
      <p class="lead">Clip and view coupons on <a href="https://stopandshop.com" target="_blank" rel="noopener noreferrer">Stop and Shop</a></p>
      <hr class="my-1">
    </div>
    <div class="container">
      {{ if .flashError }}
        <div class="row flash-error alert alert-danger">
          <div class="col">
            {{.flashError}}
            <i class="fa fa-times-circle hoverable"></i>
          </div>
        </div>
      {{ end }}
      {{ if .flashSuccess }}
        <div class="row flash-success alert alert-success">
          <div class="col">
            {{.flashSuccess}}
            <i class="fa fa-times-circle hoverable"></i>
          </div>
        </div>
      {{ end }}
      <script>
        $(function(){
          $(document).on("click", ".alert i.fa-times-circle", function(e) {
            $(e.currentTarget).closest(".alert").hide();
          });
        });</script>
    {{/*content then footer*/}}
{{end}}
