{{template "header" .}}
{{ if .profile }}
  <div class="row">
    <h3>
      Welcome, {{.profile.FirstName}}
      <small><a href="/auth/logout" title='Sign out.'><i class="fa fa-sign-out"></i></a></small>
    </h3>
  </div>
{{ end }}
{{if .coupons }}
  <div class="row">
    <h3>Your Coupons</h3>
  </div>
{{ range .coupons }}
  <div class="row border {{ if .Loaded }}border-success{{ end }} mb-2 p-2">
    <div class="col">
      <div class="row">
        <div class="col-12"><h4>{{.Name}}</h4></div>
      </div>
      <div class="row">
        <div class="col-12"><h5><small>{{.Title}}</small></h5></div>
      </div>
      <div class="row">
        <div class="col-2" style="align-self: center">
          <img
            style='width:80px;height:100px'
            src='{{.URL}}'
            onerror="this.src='//stopandshop.com/static/common/img/offer-placeholder.jpg'"
            alt='coupon image'
          />
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col">Starts <h5>{{.StartDate}}</h5></div>
            <div class="col">Ends <h5>{{.EndDate}}</h5></div>
            <div class="col">
              {{ if not .Loaded }}
                <a href='/coupons/{{.ID}}/clip' title='Click to load coupon to your Stop&Shop card.'>
                  <i class="fa fa-cut"></i> Clip</a>
                </a>
              {{ else }}
                <span title='Coupon is loaded to your Stop&Shop card.'>
                  <i class="fa fa-credit-card"></i><i class="fa fa-check"></i>
                </span>
              {{ end }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style='color:gray'>{{.Description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
{{ end }}
{{template "footer" .}}
